@use 'base/variables' as var;
@use 'base/mixins' as mix;

.header{
    background-color: var.$verde;
    @include mix.tablet {
        &.fijo {
            left: 0;
            top: 0;
            position: fixed;
            width: 100%;
            box-shadow: .1rem .2rem .3rem #333;
        }
    }
    h1{
        color: var.$blanco;
        text-align: center;
        @include mix.tablet {
            margin:0;
        }
    }
    .contenido-header{
        padding: 2rem;
        @include mix.tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.navegacion-principal{
    @include mix.tablet {
        display:flex;
        gap: 3rem;        
    }
    a{
        display: block;
        text-align: center;
        margin-bottom: 1rem;
        color: var.$blanco;
        font-size: 2.4rem;
        @include mix.tablet {
            margin:0;
        }
        &:hover{
            color: var.$amarillo;
        }
    }
}

