@use 'base/variables'as var;
.header{
    background-color: var.$verde;
    h1{
        color: var.$blanco;
    }
}

.navegacion-principal{
    a{
        color: var.$blanco;
        font-size: 2.4rem;

        &:hover{
            color: var.$amarillo;
        }
    }

}

